<div class="user--details">
  <div class="users--repos">
    <ul class="nav nav-tabs">
      <li class="active">
        {{#link-to 'repos'}}
          Repos
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'followers'}}
          Followers
        {{/link-to}}
      </li>
      <li><a href="#"> Contributions</a></li>
      <li><a href="#"> Activity Logs</a></li>
    </ul>
  </div>
  <br/>
</div>

<div class="well">
  {{outlet}}
</div>
